
/* 조직도 details */
.tree,
.tree ul {
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
}

.tree a {display:block; text-decoration:none; color:#000; border-radius:5px;}
.tree a:hover {background-color:rgba(0,0,0,0.05);}
.tree a.selected {font-weight:bold; background-color:rgba(0,0,0,0.1);}

.tree ul {margin-left:.5em} /* (indentation/2) */

.tree:before,
.tree ul:before {
	content:"";
	display:block;
	width:0;
	position:absolute;
	top:0;
	bottom:0;
	left:4px;
	border-left:1px solid;
}

.tree:before {border-left:none;}

.tree li {
	margin:0;
	padding:0 0 0 1em; /* indentation + .5em */
	line-height:2em; /* default list item's `line-height` */
	position:relative;
}
.tree > li:first-child{padding:0;}

.tree li:before {
	content:"";
	display:block;
	width:10px; /* same with indentation */
	height:0;
	border-top:1px solid;
	margin-top:-1px; /* border top width */
	position:absolute;
	top:1em; /* (line-height/2) */
	left:4px;
}

.tree > li:before {
	border-top:none;
}

.tree li:last-child:not(:first-child):before {
	background-color: rgba(var(--bs-light-rgb),1); /* same with body background */
	height:auto;
	bottom:0;
}
/* 조직도 details 끝 */